.input-container {
  /* width: 80%; */
  margin: auto;
  padding-bottom: 15px;
}

.input-container__input {
  background: rgba(0, 0, 0, 0.8);;
  border-radius: 10px;
  /* width: 100%; */
  padding: 1.5rem;
  border: 0;
  color: #fff;
  outline: 0;
}