.currentUser {
    align-items: center;
    color: white;
    display: flex; // border-bottom: 1px solid rgba(189,189,192,0.1);
    justify-content: flex-start;
    padding: 10px;
    .currentUser__avatar {
        position: relative;
        .currentUser__image {
            border-radius: 50%;
            height: 50px;
            width: 50px;
        }
        .currentUser__online {
            background-color: #00fa00;
            border-radius: 50%;
            bottom: 5px;
            height: 10px;
            right: 0px;
            position: absolute;
            width: 10px;
        }
    }
    .currentUser__name {
        color: inherit;
        font-size: 1.5em;
        font-weight: bold;
        padding-left: 10px;
    }
}