$width: 80px;
.sidebar {
  background-color: rgba(32, 32, 35, 1);
  border-right: 1px solid rgba(189, 189, 192, 0.1);
  display: flex;
  flex-direction: column;
  height: 96vh;
  transition: width 0.3s;
  width: $width;
}

.usersList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.showGroupChat {
  padding: 1rem;
  color: white;
  font-weight: bold;
}

.showGroupChat:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* large devices*/

@media (min-width: 600px) {
  .sidebar {
    width: 30vh;
  }
  // .usersList {
  //   width: 350px;
  // }
  .usersList::-webkit-scrollbar {
    width: 12px;
  }
  .usersList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
}