.user {
  padding: 1rem;
}

.user:hover {
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}

.user__icon{
  background-color: royalblue;
  border-radius: 50%;
  bottom: 0.3rem;
  height: 13px;
  right: 0; 
  position:absolute;
  width: 13px;
}

.user__pic {
  border-radius: 50%;
  width: 50px;
}

.user__details {
  display: none;
  position: relative;
}
  
/* not small devices  */
@media (min-width: 600px) {
  .user__details {
    display: block;
    padding: 0 0 0 1rem;
  }
  .user__details-name {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    margin: 0;
  }
}
