.empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  .empty__name {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
  }
  .empty__btn {
    border-radius: 30px;
    color: initial;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 1rem;
    outline: 0;
  }
  .empty__btn:hover {
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }
}