.groupForm {
  color: white;
  text-align: center;
  position: relative;
  height: 100%;
}

.groupForm__button {
  background: linear-gradient(90deg, #74afdd, #d4aedd);
  border: none;
  border-radius: 50%;
  bottom: 0;
  font-size: 1.7em;
  height: 50px;
  margin: 10px;
  position: absolute;
  right: 0;
  width: 50px;
}

.groupForm__header {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1.5em 0;
}

.groupForm__name-input {
  background-color: rgba(25, 25, 27, 1);
  border: none;
  border-bottom: 1px solid rgba(189, 189, 192, 0.1);
  color: white;
  margin-bottom: 1.5em;
  outline: 0;
  text-align: center;
  width: 80%;
}

.groupForm__users_value {
  padding: 1rem;
}

.groupForm__name {
  padding: 1rem;
}