$min-width: 600px;
.Chats {
  align-items: flex-start;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  height: 73vh;
  margin: 0 auto;
  overflow-y: scroll;
  width: 85%;
}

.Chat {
  color: #fff;
  margin: 1rem 0;
}

.Chat__senderId {
  color: rgba(189, 189, 192, 1);
  font-size: 0.8rem;
}

.Chat__message {
  background: linear-gradient(90deg, #1986d8, #7b9cc2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; // max-width: 90%;
  padding: 1rem;
  word-break: break-word;
}

.Chat__message.is-user-msg {
  background: #2b2c33;
  border-radius: 10px 0 0 10px;
}

.Chat.is-user-msg {
  margin-left: auto;
}

/* large device */

@media (min-width: $min-width) {
  .Chat {
    max-width: 60%;
  }
}

.Chats::-webkit-scrollbar {
  width: 12px;
}

.Chats:hover::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}