.connect {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  .connect__label {
    color: #fff;
    padding-bottom: 10px;
  }
  .connect__btn {
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
    outline: 0;
    padding: 1rem;
  }
  .connect__btn:hover {
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }
}