.connection {
  align-items: center;
  background-color: #333333;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 4vh;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
}

.connection__info {
  padding: 10px;
}