.app {
  color: rgba(189,189,192,1);
  display:flex;
  font-size: initial;
  /* height: 100%; */
  min-height: 100vh;
  margin: auto;
}

.wrap{
  flex:1;
  display:flex;
}

@media all and (max-width:600px){
  .sidebar{
    width: auto;
  }
}

.error {
  color: #aa0000;
}

.success{
  color: #00aa00;
}